:root{
     --color-1: rgb(255, 79, 79);
    --color-1-alpha: rgba(255, 79, 79, 0);
     --color-2: rgb(253, 175, 108);
    --color-2-alpha: rgba(253, 175, 108, 0);
     --color-3: rgb(233, 254, 154);
    --color-3-alpha: rgba(233, 254, 154, 0);
     --color-4: rgb(250, 253, 255);
    --color-4-alpha: rgba(69, 109, 136, 0);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
}
